body {
  background-color: #0c0e0f;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 24px;
}

a {
  color: #fff !important;
  text-decoration: none;
}

nav img {
  width: 180px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Italiana', serif;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 65px;
}

h5 {
  font-size: 45px;
}

h6 {
  font-size: 24px;
}

footer {
  background-color: #141516;
}

.main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(12, 14, 15, 0.95),
      rgba(12, 14, 15, 0.95)
    ),
    url('/assets/images/hero-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section h1 {
  font-size: 100px;
  padding-top: 160px;
}

.hero-section .row {
  width: 100%;
}

.main-cards .row {
  border: #1e2020 solid 1px;
}

.mid-card {
  border-left: #1e2020 solid 1px;
  border-right: #1e2020 solid 1px;
}

.main-cards {
  margin-top: 160px;
}

.main-cards img {
  padding-top: 20px;
  max-width: 311px;
}

.navbar {
  padding-left: 60px;
  padding-right: 60px;
}

.portfolio img {
  width: 100%;
}

.portfolio p {
  color: #9a9a9a;
  font-size: 14px;
}

.about img {
  max-width: 565px;
}

.skills img {
  max-width: 125px;
}

.skills .row {
  border-top: #1e2020 solid 1px;
  border-left: #1e2020 solid 1px;
  border-right: #1e2020 solid 1px;
}

.row__bottom {
  border-bottom: #1e2020 solid 1px;
}

.skills .skills__column:not(:first-child) {
  border-left: #1e2020 solid 1px;
}

section {
  margin-bottom: 160px;
  padding-left: 60px;
  padding-right: 60px;
}

section h2 {
  margin-bottom: 60px;
}

footer {
  padding-top: 90px;
  padding-bottom: 90px;
}

footer h2 {
  margin-bottom: 60px;
}

.bio {
  width: 400px;
}

.row__contact {
  width: 800px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border: none;
}

.portfolio__row {
  margin-bottom: 1.25rem;
}

/**** MEDIA QUERIES ****/

@media screen and (max-width: 991px) {
  .hero-section h1 {
    font-size: 80px;
    padding-top: 80px;
  }

  p {
    font-size: 18px;
  }

  .bio {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section h1 {
    font-size: 60px;
    padding-top: 120px;
  }

  h2 {
    font-size: 60px;
  }

  #portfolio .row {
    margin-bottom: 1.5rem !important;
  }

  section {
    margin-bottom: 80px;
  }

  .main-cards {
    margin-top: 80px;
  }

  .about__bio-section h3 {
    font-size: 60px;
    margin-top: 30px;
  }

  .skills__bottom-border {
    border-bottom: #1e2020 solid 1px;
  }

  .portfolio__row {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 567px) {
  section {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .hero-section h1 {
    font-size: 50px;
    padding-top: 160px;
  }

  h2 {
    font-size: 40px;
  }

  .about__bio-section h3 {
    font-size: 40px;
    margin-top: 30px;
  }

  .contact-phone {
    margin-top: 20px;
  }
}
